---
- apt:
    name: docker,docker-engine,docker.io
    state: absent
    autoremove: yes
- shell: |
    drbdmanage list-volumes -m | grep '\bcontainers\b' || drbdmanage add-volume containers 4G
    drbdmanage list-assignments -m | grep '\bcontainers\b' || drbdmanage assign-resource containers `hostname`
- filesystem:
    dev: /dev/drbd/by-res/containers/0
    fstype: xfs
    opts: -L containers

- mount:
    src: /dev/drbd/by-res/containers/0
    path: /mnt/containers
    fstype: xfs
    opts: discard,noatime,nofail,x-systemd.device-timeout=20,x-systemd.requires=drbd.service
    state: mounted
  notify:
  - stop docker
  - stop lxd
- file:
    path: /mnt/containers/var/lib/docker
    state: directory
    recurse: yes
  notify:
  - stop docker
  - copy local /var/lib/docker
- file:
    path: /mnt/containers/etc/docker
    state: directory
    recurse: yes
  notify:
  - stop docker
  - copy local /etc/docker
- file:
    path: /mnt/containers/var/lib/lxd
    state: directory
    recurse: yes
  notify:
  - stop lxd
  - copy local /var/lib/lxd
- meta: flush_handlers
- mount:
    src: /mnt/containers/var/lib/docker
    path: /var/lib/docker
    fstype: none
    opts: bind,nofail,x-systemd.device-timeout=20,x-systemd.requires-mounts-for=/mnt/containers
    state: mounted
  notify:
  - restart docker
- mount:
    src: /mnt/containers/etc/docker
    path: /etc/docker
    fstype: none
    opts: bind,nofail,x-systemd.device-timeout=20,x-systemd.requires-mounts-for=/mnt/containers
    state: mounted
  notify:
  - restart docker
- mount:
    src: /mnt/containers/var/lib/lxd
    path: /var/lib/lxd
    fstype: none
    opts: bind,nofail,x-systemd.device-timeout=20,x-systemd.requires-mounts-for=/mnt/containers
    state: mounted
  notify:
  - restart lxd
- copy:
    src: rootfs/
    dest: /
- meta: flush_handlers

- shell: |
    curl -fsSL https://download.docker.com/linux/ubuntu/gpg | apt-key add -
    apt-key fingerprint 0EBFCD88
- apt_repository:
    repo: 'deb [arch=amd64] https://download.docker.com/linux/ubuntu xenial stable'
    state: present
- apt:
    name: docker-ce=17.06.2~ce-0~ubuntu,drbdmanage-docker-volume
    state: present
- shell: apt-mark hold docker-ce
- systemd:
    name: docker-drbdmanage-plugin.socket
    enabled: yes

- apt:
    name: lxd
    default_release: xenial-backports
    state: present
  notify:
  - configure lxd
